/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    padding: 0;
}

header {
    /* background-color: var(--container-color); */
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.back {
    padding: 50px 0;
    margin-bottom: 40px;
    /* background-color: var(--container-color); */
    transition: 0.3s ease all;
}

/* .logo {
    height: 90px;
    padding-right: 50px;
} */

.logo img {
    width: 100px;
    height: 70px;
}
