/** ESTILOS GENERALES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  height: 100vh;
  background-color: #D4DCFF !important;
}

/* Estilos para la barra de navegación */
#welcomeMessage {
    margin-right: 15px;
    font-size: 16px;
    color: #fff;
}

#userMenu .dropdown-menu {
    right: 0;
    left: auto;
}

/* Estilos para otros elementos según sea necesario */
.position {
    position: relative;
}

.badge {
    top: -10px;
    right: -10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icono {
    cursor: pointer;
}

.card-client {
  background: #027c69;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 4px solid #7cdacc; */
  /* box-shadow: 0 6px 10px rgba(207, 212, 222, 1); */
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #4c8582;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #4c8582;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.social-media a {
    margin: 0 10px;

}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit;
  font-size: 0.8rem;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a span.tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}


.logo img {
    width: 50px;
}

/** INICIO HEADER */
header {
    display: flex;
    background-color: #5d8583;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
    transition: 0.3s ease all;
}

.logo {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.logo img {
    border-radius: 50%;
}

.logo:active > img{
    transform: scale(0.95);
}

.logo:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 80px;
    height: auto;
    display: block;
}

#btnCesta {
    background: none;
    border: none;
    cursor: pointer;
}

/*? MENU CONTAINER2 */
.menu {
    position: relative;
}

.menu .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*? MUEVE LOS ELEMENTOS DE LA BARRA */
.menu .navbar ul {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
}

.menu .navbar ul li a:hover {
    color: var(--light-text-color);
}

#menu {
    display: none;
}

/*? ICONO MOVIL */
.menu-icono {
    width: 90px;
    height: 80px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.navbar ul li #icoPersona:hover label {
    display: flex;
}

#barraNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#barraNav li {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

#barraNav li input[type=button] {
    background-color: transparent;
    border: none;
    color: var(--title-color);
    font-size: 20px;
    cursor: pointer;
}

#barraNav li input[type=button]:hover {
    /* text-decoration: underline; */
    color: #f9f9f9;
}

.dropdown:focus-within svg,
.dropdown:hover svg {
    color: #f9f9f9;
}

/** SUBMENU CARTA */
#submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 25px;
  z-index: 1000;
}

#submenu li button {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: justify;
}
  
#submenu li button:hover {
    background-color:  #4c8582;
}

.dropdown:hover #submenu {
  display: block;
}

.dropdown {
  position: relative;
}

#btnCesta {
    background: none;
    border: none;
    cursor: pointer;
}

#btnCesta:hover svg {
    color: #f9f9f9;
}
/** FIN SUBMENU CARTA */
/** SUBMENU SVG */
#subConfiguracion {
  display: none;
  position: absolute;
  border: unset;
  background-color: unset;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  top: 35px;
  z-index: 1000;
}

#subConfiguracion button {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    width: 100%;
    text-align: justify;
}

#subConfiguracion button:hover {
    background-color:  #4c8582;
}

.dropdown:hover #subConfiguracion {
    display: block;
    top: 32px;
    padding: 5px 0;
}

.dropdown {
  position: relative;
}

#btnIniciarSesion svg:hover {
    color: #f9f9f9;
}

/* Estilos para la modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header {
  padding: 10px 16px;
  background-color: #fefefe;
  color: black;
}

.modal-body {
  padding: 16px;
}

/* Estilos para el botón de ir arriba */
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
}

#btnScrollToTop:hover {
  background-color: #0056b3;
}

#circulo::after {
    content: attr(title);
    display: inline-block;
    position: relative;
    /* top: -2vh; */
    left: -0.4vw;
    background: #58aba1;
    color: black;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    padding-top: inherit;
}
/** FIN DEL HEADER */

/** CONTENEDOR PRODUCTOS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    /* background: #8597e7; */
}

/* .container div {
    width: 65%;
} */

#filtros {
    margin: 35px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

#buscador {
    display: flex;
    align-items: center;
    gap: 20px;
}

#buscador button {
    background-color: #58aba1;
    color: black;
    border: none;
}

#buscador button:hover {
    color: black;
    border: transparent;
    background-color: #ffcaa6;
}

#buscador input {
    height: 35px;
    border-radius: 10px;
}

#botoncitos {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#botoncitos li button {
    background-color: #58aba1;
    color: black;
    border: none;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
}

#botoncitos li button:hover {
    color: black;
    border: transparent;
    background-color: #ffcaa6;
}

#contenedor-productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px 27px;
    /* padding: 20px; */
}

.card-img img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    overflow: hidden;
}

/* Card */
#carta {
    width: calc(35% - 150px);
    /* width: 340px; */
    flex-grow: 4;
    flex-basis: content;
    padding: 5px;
    background: #4c8582;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
}

.card-img {
    /* background-color: #ffcaa6; */
    /* background-color: transparent; */
    width: auto;
    height: auto;
    transition: .3s ease;
}

.card-info {
    padding-top: 15px;
}

#contenedor-productos svg {
    width: 25px;
    height: 25px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.card-footer span {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

/* Text */
.text-title button {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
}

.text-title button {
    background-color: #58aba1;
    color: black;
    border: none;
}

.text-title button:hover {
    color: black;
    border: transparent;
    background-color: #ffcaa6;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/* Button */
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/* Hover */
.card-img:hover {
    transform: translateY(-25%);
    /* box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; */
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

/* Quantity Input */
.card-quantity {
    width: 100%;
    padding: .5em;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-sizing: border-box;
    font-size: 1em;
}
/** FIN DEL CONTENEDOR PRODUCTOS */

/** ESTILO FOOTER */
#pie_pagina {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: justify;
}

#pie_pagina div {
    display: flex;
    gap: 90px;
    align-content: center;
    justify-content: space-around;
    margin: 0 15px;
}

.datos_enlaces_bar {
    margin-bottom: 20px;
    /* display: flex; */
}

.datos_enlaces_bar h3 {
    font-size: 1.2em;
}

.datos_enlaces_bar ul {
    list-style: none;
    padding: 0;
}

.datos_enlaces_bar li {
    margin-bottom: 5px;
}

.datos_enlaces_bar li:last-child {
    margin-bottom: 0;
}

.datos_enlaces_bar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.datos_enlaces_bar a:hover {
    color: #ffd700;
}

/* #pie_pagina p {
    margin-top: 20px;
    font-size: 0.8em;
} */

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header {
        justify-content: flex-start;
    }

    .menu {
        padding: 10px;
    }

    .menu label {
        display: initial;
    }

    .back {
        padding: 20px 0;
    }

    .menu .navbar #barraNav {
        position: relative;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--body-color);
        transition: 0.3s ease all;
        display: none;
        padding: 20px;
        width: 100%;
    }

    .navbar img {
        display: none;
    }

    .menu label {
        display: block;
    }

    .menu label img {
        width: 100px;
    }

    #menu:checked ~ .navbar #barraNav {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start;
        gap: 10px;
    }

    #pie_pagina div {
        flex-direction: column;
        gap: 2px;
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 60px !important;
    }

    #pie_pagina {
        padding: 10px !important;
    }

    #pie_pagina div {
        flex-direction: column !important;
        gap: 2px !important;
    }
}