/** ESTILOS GENERALES */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  height: 100vh;
}

/** INICIO HEADER */
header {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
    transition: 0.3s ease all;
}

.logo {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
}

.logo img {
    border-radius: 50%;
}

.logo:active > img{
    transform: scale(0.95);
}

.logo:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 80px;
    height: auto;
    display: block;
}

/*? MENU CONTAINER2 */
.menu {
    position: relative;
}

.menu .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*? MUEVE LOS ELEMENTOS DE LA BARRA */
.menu .navbar ul {
    display: flex;
    align-items: center;
    position: relative;
    gap: 30px;
}

.menu .navbar ul li a:hover {
    color: var(--light-text-color);
}

#menu {
    display: none;
}

/*? ICONO MOVIL */
.menu-icono {
    width: 90px;
    height: 80px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.navbar ul li #icoPersona:hover label {
    display: flex;
}

#barraNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#barraNav li {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

#barraNav li input[type=button] {
    background-color: transparent;
    border: none;
    color: var(--title-color);
    font-size: 20px;
    cursor: pointer;
}

#barraNav li input[type=button]:hover {
    /* text-decoration: underline; */
    color: #f9f9f9;
}

.dropdown:focus-within svg,
.dropdown:hover svg {
    color: #f9f9f9;
}

/** SUBMENU CARTA */
#submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 25px;
  z-index: 1000;
}

#submenu li button {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: justify;
}
  
#submenu li button:hover {
    background-color:  #4c8582;
}

.dropdown:hover #submenu {
  display: block;
}

.dropdown {
  position: relative;
}

#btnCesta {
    background: none;
    border: none;
    cursor: pointer;
}

#btnCesta:hover svg {
    color: #f9f9f9;
}

/** SUBMENU SVG */
#subConfiguracion {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top: 35px;
  z-index: 1000;
}

#subConfiguracion li button {
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  width: 100%;
  text-align: justify;
}

#subConfiguracion li button:hover {
  background-color:  #4c8582;
}

.dropdown:hover #subConfiguracion {
  display: block;
  top: 32px;
  padding: 5px 0;
}

.dropdown {
  position: relative;
}

/* Estilos para la modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0); /* Fondo transparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-header {
  padding: 10px 16px;
  background-color: #fefefe;
  color: black;
}

.modal-body {
  padding: 16px;
}

/* Estilos para el botón de ir arriba */
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 50%;
}

#btnScrollToTop:hover {
  background-color: #0056b3;
}

#circulo::after {
    content: attr(title);
    display: inline-block;
    position: relative;
    /* top: -2vh; */
    left: -0.4vw;
    background: #58aba1;
    color: black;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    padding-top: inherit;
}
/** FIN DEL HEADER */

/** CONTENEDOR PRODUCTOS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    gap: 35px;
    /* background: #8597e7; */
}

/* .container div {
    width: 65%;
} */

#filtros {
    margin: 35px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#filtros ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
}

#contenedor-productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px 27px;
    /* padding: 20px; */
}

#divPagar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#divPagar button {
    width: 230px;
}

.card-img img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    overflow: hidden;
}

/* Card */
.carta {
    width: calc(35% - 150px);
    /* width: 340px; */
    flex-grow: 4;
    flex-basis: content;
    padding: 5px;
    background: #4c8582;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 20px;
}

.card-img {
    /* background-color: #ffcaa6; */
    /* background-color: transparent; */
    width: auto;
    height: auto;
    transition: .3s ease;
}

.card-info {
    padding-top: 15px;
}

#contenedor-productos svg {
    width: 25px;
    height: 25px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.card-footer span {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
}

/* Text */
.text-title button {
    font-weight: 900;
    font-size: 1em;
    line-height: 1.5;
}

.text-title button {
    background-color: #4c8582;
    color: black;
    border: none;
}

.text-title button:hover {
    color: black;
    border: transparent;
    background-color: #ffcaa6;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/* Button */
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/* Hover */
.card-img:hover {
    transform: translateY(-25%);
    /* box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px; */
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
}

/* Quantity Input */
.card-quantity {
    width: 100%;
    padding: .5em;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: .3em;
    box-sizing: border-box;
    font-size: 1em;
}

/*? boton realizar pedido */
.btn_bonito {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ca7b7b;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

.btn_bonito:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #8a3838;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn_bonito:hover {
    background-color: #750000;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn_bonito:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}

.btn_bonito:active {
    transform: scale(0.9);
}
/** FIN DEL CONTENEDOR PRODUCTOS */

/** ESTILO FOOTER */
#pie_pagina {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: justify;
}

#pie_pagina div {
    display: flex;
    gap: 90px;
    align-content: center;
    justify-content: space-around;
    margin: 0 15px;
}

.datos_enlaces_bar {
    margin-bottom: 20px;
    /* display: flex; */
}

.datos_enlaces_bar h3 {
    font-size: 1.2em;
}

.datos_enlaces_bar ul {
    list-style: none;
    padding: 0;
}

.datos_enlaces_bar li {
    margin-bottom: 5px;
}

.datos_enlaces_bar li:last-child {
    margin-bottom: 0;
}

.datos_enlaces_bar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.datos_enlaces_bar a:hover {
    color: #ffd700;
}

/* #pie_pagina p {
    margin-top: 20px;
    font-size: 0.8em;
} */